{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "importOrder": [
    "(.*react.*)",
    "<THIRD_PARTY_MODULES>",
    "^@@/",
    "^@/components/global",
    "^@/components/layout",
    "^@/components/ui",
    "^@/components/screens",
    "^@/components/shared",
    "^@/components/views",
    "^@/data",
    "^@/hooks",
    "^@/providers",
    "^@/store",
    "^@/store/slices",
    "^@/shared/api",
    "^@/shared/languages",
    "^@/shared/schemes",
    "^@/shared/patterns",
    "^@/utils",
    "^@/types",
    "^(.*.component)$",
    "^(.*.interface)$",
    "^(.*.type)$",
    "^(.*.package.json)$",
    "^@/",
    "^@/assets/styles/*",
    "^(.*.module.scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
