$padding_x: 60px;

.box {
  @apply relative;
}

.toggle {
  @apply absolute top-2 text-mpl-grey-3 border-[1px] rounded-mpl border-mpl-bd text-base p-2 focus:outline-2 focus:outline-mpl-accent-color transition-colors duration-200 hover:bg-mpl-grey-2/10;
}

html[dir='ltr'] {
  .toggle {
    @apply right-2;
  }

  .input {
    padding-right: $padding_x !important;
  }
}

html[dir='rtl'] {
  .toggle {
    @apply left-2;
  }

  .input {
    padding-left: $padding_x !important;
  }
}
